html > *,
body > * {
  font-family: sans-serif;
  box-sizing: border-box;
}

.header {
  width: 500px;
  margin: 0 auto 3em;
  line-height: 1.5em;
}

.content {
  width: 500px;
  margin: 0 auto;
  padding: 20px 40px;
  border: 1px solid grey;
  line-height: 1.5em;
}

.blue {
  color: blue;
}

.red {
  color: red;
}
